<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">


  <targets async="true">


    <target name="database2"
        xsi:type="Database">
      <connectionString>Data Source=10.245.240.194;Initial Catalog=AccretiveLogs;uid=DEV_SQLAdmin;pwd=SQLAdmin!;</connectionString>
      <commandText>
        exec usp_ExceptionLogAdd_V1_1
        @MachineName,
        @LogDateTime,
        @UserID,
        @UserName,
        @PortalID,
        @ModuleID,
        @ModulePath,
        @TabID,
        @TabModuleID,
        @ProcessID,
        @LocationID,
        @TaskID,
        @TaskName,
        @ProcessTaskID,
        @RecordID,
        @ExcDetails,
        @ExcMsg,
        @ExcSrc,
        @ExcStackTrace,
        @InnerExcDetails,
        @InnerExcMsg,
        @InnerExcSrc,
        @InnerExcStackTrace,
        @Comment,
        @ClassFullName,
        @CategoryId,
        @StatusId,
        @UpdatedBy,
        @UpdatedDateTime,
        @Mode,
        @FilterCondition,
        @PageNumber,
        @URI,
        @IP,
        @Guid
      </commandText>
      <parameter name="@MachineName" layout="${mdc:item=MachineName}" />
      <parameter name="@LogDateTime" layout="${mdc:item=LogDateTime}" />
      <parameter name="@UserID" layout="${mdc:item=UserID}" />
      <parameter name="@UserName" layout="${mdc:item=UserName}" />
      <parameter name="@PortalID" layout="${aspnet-item:variable=PortalID}" />
      <parameter name="@ModuleID" layout="${aspnet-item:variable=ModuleID}" />
      <parameter name="@ModulePath" layout="${mdc:item=ModulePath}" />
      <parameter name="@TabID" layout="${aspnet-item:variable=TabID}" />
      <parameter name="@TabModuleID" layout="${aspnet-item:variable=TabModuleID}" />
      <parameter name="@ProcessID" layout="${aspnet-item:variable=ProcessID}" />
      <parameter name="@LocationID" layout="${mdc:item=LocationID}" />
      <parameter name="@TaskID" layout="${aspnet-item:variable=TaskID}" />
      <parameter name="@TaskName" layout="${mdc:item=TaskName}" />
      <parameter name="@ProcessTaskID" layout="${aspnet-item:variable=ProcessTaskID}" />
      <parameter name="@RecordID" layout="${mdc:item=RecordID}" />
      <parameter name="@ExcDetails" layout="${mdc:item=ExcDetails}" />
      <parameter name="@ExcMsg" layout="${mdc:item=ExcMsg}" />
      <parameter name="@ExcSrc" layout="${mdc:item=ExcSrc}" />
      <parameter name="@ExcStackTrace" layout="${mdc:item=ExcStackTrace}" />
      <parameter name="@InnerExcDetails" layout="${mdc:item=InnerExcDetails}" />
      <parameter name="@InnerExcMsg" layout="${mdc:item=InnerExcMsg}" />
      <parameter name="@InnerExcSrc" layout="${mdc:item=InnerExcSrc}" />
      <parameter name="@InnerExcStackTrace" layout="${mdc:item=InnerExcStackTrace}" />
      <parameter name="@Comment" layout="${mdc:item=Comment}" />
      <parameter name="@ClassFullName" layout="${mdc:item=ClassFullName}" />
      <parameter name="@CategoryId" layout="${mdc:item=CategoryId}" />
      <parameter name="@StatusId" layout="${mdc:item=StatusId}" />
      <parameter name="@UpdatedBy" layout="${mdc:item=UpdatedBy}" />
      <parameter name="@UpdatedDateTime" layout="${mdc:item=UpdatedDateTime}" />
      <parameter name="@Mode" layout="${mdc:item=Mode}" />
      <parameter name="@FilterCondition" layout="${mdc:item=FilterCondition}" />
      <parameter name="@PageNumber" layout="${mdc:item=PageNumber}" />
      <parameter name="@URI" layout="${aspnet-request-url}" />
      <parameter name="@IP" layout="${aspnet-request-ip}" />
      <parameter name="@Guid" layout="${mdc:item=Guid}" />
    </target>


  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="database2" />
  </rules>
</nlog>