<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      throwExceptions="false">
  <targets async="true">
    <target name="ConsoleLog" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}"
            xsi:type="Console" />
    <target name="PrimaryLogFile" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}"
            xsi:type="File"
            fileName="C:\Logs\ds-rest-client-console-app\ds-rest-client-console-app-${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}.log"
            archiveFileName="C:\Logs\ds-rest-client-console-app\ds-rest-client-console-app.archive.{#####}.log"
            archiveAboveSize="10485760" archiveNumbering="Sequence" maxArchiveFiles="10" />
  </targets>
  <rules>
    <logger name="*" minlevel="error" writeTo="ConsoleLog,PrimaryLogFile" />
  </rules>
</nlog>